@media only screen { /* for desktop */
    body {
        font-family: 'Open Sans';
        font-weight: 300;
        margin: 0;
    }
    .error-block {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .error-code {
        font-size: 150px;
        line-height: 140px;
        font-weight: 700;
        text-align: center;
        opacity: 0.1;
    }
    .error-subtitle {
        font-size: 40px;
        line-height: 40px;
        font-weight: 600;
        text-align: center;
        margin: 10px auto 20px;
        opacity: 0.6;
    }
    .error-image-container {
        width: 400px;
        margin: 0 auto;
    }
    .error-image {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 480px) { /* for mobile */
   body {
        font-family: 'Open Sans';
        font-weight: 300;
        margin: 0;
    }
    .error-block {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .error-code {
        font-size: 140px;
        line-height: 120px;
        font-weight: 700;
        text-align: center;
        opacity: 0.1;
    }
    .error-subtitle {
        font-size: 35px;
        line-height: 35px;
        font-weight: 600;
        text-align: center;
        margin: 10px auto 20px;
        opacity: 0.6;
    }
    .error-image-container {
        width: 350px;
        margin: 0 auto;
    }
    .error-image {
        width: 100%;
        height: auto;
    }
}
.buttons-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.home-button-container {
    width: 120px;
    padding: 4px;
    border-radius: 3px;
    margin: 10px 0;
    background-color: #00B7CE;
    display: inline-block;
}
.email-button-container {
    width: 120px;
    padding: 4px;
    border-radius: 3px;
    margin: 15px 0;
    background-color: #A7BE39;
    display: inline-block;
}
.home-button-container:hover, .email-button-container:hover {
    opacity: 0.7;
}
a.button-link {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: white;
}
/*@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}*/
#tubeMogulBreakBlock {
    display: block;
    margin: 0 auto;
    border: 1px solid #A8A8A8;
    box-shadow: 3px 3px 3px #D3D3D3;
}
.lose-container {
    position: fixed;
    width: 300px;
    height: 150px;
    margin: -75px auto auto -150px;
    top: 40%;
    left: 50%;
    text-align:center;
    background-color: #FFFFFF;
    z-index: 10;
    border: 1px solid #D3D3D3;
    box-shadow: 2px 2px 2px #D3D3D3;
    display: none;
}
.loseAlert {
    margin-top: -80px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150px;
    color: #0085A5;
}
.win-container {
    position: fixed;
    width: 300px;
    height: 150px;
    margin: -75px auto auto -150px;
    top: 40%;
    left: 50%;
    text-align:center;
    background-color: #FFFFFF;
    z-index: 10;
    border: 1px solid #D3D3D3;
    box-shadow: 2px 2px 2px #D3D3D3;
    display: none;
}
.winAlert {
    margin-top: -80px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150px;
    color: #0085A5;
}
.emoticon-image {
    margin: 25px 0;
    width: 60px;
}


