body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.error-block {
    width: 100%;
    height: 100%;
    padding: 0;
    /*position: absolute;*/
}
.error-code {
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    opacity: 0.1;
    margin-top: -10px;
}

.error-subtitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: -25px;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0.6;
}

.error-image {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.buttons-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.home-button-container {
    width: 120px;
    padding: 4px;
    border-radius: 3px;
    margin-top: 15px;
    background-color: #00B7CE;
    display: inline-block;
}

.email-button-container {
    width: 120px;
    padding: 4px;
    border-radius: 3px;
    margin-top: 15px;
    background-color: #A7BE39;
    display: inline-block;
}

.home-button-container:hover, .email-button-container:hover {
    opacity: 0.8;
}

a.button-link {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: white;
}

.scrolldown {
    display: block;
    margin: 20px auto;
    margin-top: 40px;
    width: 25px;
    opacity: 0.3;
}
.scrolldown:hover {
    opacity: 0.6;
}

.content-section {
    background-color: grey;
    padding-bottom: 800px;
    width: 100%;
    margin: 0 auto;
}

<<<<<<< HEAD
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

body
{
    padding: 50px 0;
    margin: 0;
}

#tubeMogulBreakBlock
{
    display: block;
    margin: 0 auto;

    box-shadow: 0 0 3px rgb(0, 0, 0);
}
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
